---
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mentions Legales">
  <div class="container">Mentions Legales</div>
  <Footer />
</Layout>

<style>
  .container {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    color: azure;
  }
</style>
