---
import FiveRating from "../common/FiveRating.astro";
import { Image } from "astro:assets";
import { withBase } from "../../utils/config-utils.ts";
const circleImageUrl = withBase("/images/circle.svg");

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="review-card">
  <FiveRating />
  <p set:html={description} />
  <div class="avatar">
    <Image src={circleImageUrl} alt={"Avatar"} width={50} height={50} />
    <span>{title}</span>
  </div>
</div>

<style>
  .review-card {
    padding: 1.6rem;
    width: 27.5rem;
    min-height: 27.2rem;
    border-radius: 0.5rem;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #f0f0f0;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  }

  .avatar {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color: #000;
    text-align: justify;
  }

  span {
    font-size: 1.2rem;
  }
</style>
