---
import FiveRating from "../common/FiveRating.astro";
---

<div>
  <FiveRating />
  <p>11+ Entrepreneurs me font déjà confiance.</p>
</div>

<style>
  div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: fit-content;
  }

  p {
    font-size: 0.75rem;
    color: #000;
  }
</style>
