---
import { Image } from 'astro:assets';
import { withBase } from "../../utils/config-utils.ts";
const testimonialNicoImageUrl = withBase('/images/testimonial-nico.png');
---

<div>
  <Image
    src={testimonialNicoImageUrl}
    alt="Nico Media Byer | Temoignage"
    width={502}
    height={164}
  />
</div>

<style>
  div{
    width: fit-content;
  }
</style>
