---
import { Image } from 'astro:assets';
import { withBase } from "../../../utils/config-utils.ts";
import FiveRating from "../../common/FiveRating.astro";
const financeTestimonialImageUrl = withBase("/images/finance-testimonial.png");
---

<section>
  <FiveRating />
  <p>
    "J'ai vu le projet évoluer rapidement pour arriver à un résultat de qualité.
    La communication entre nous a été à la fois simple et efficace. Je
    recommande le travail de Axel Landing Page, c'est un pro dans son domaine."
  </p>
  <div class="avatar">
    <Image src={financeTestimonialImageUrl} alt={"Finances Futures Temoignage"} width={42} height={42} />
    <div class="avatar-text">
      <p class="title">Finances Futures</p>
      <p>Investissements en Bourse</p>
    </div>
  </div>
</section>

<style>
  .title {
    font-weight: 500;
  }

  .avatar {
    display: flex;
  }

  .avatar-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  section {
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    background-color: #ffffff17;
    padding: 17px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
