---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Styx" description="Styx" >
  <NavBar />
  <p style="flex: 1; display: flex; justify-content: center; align-items:center">A-PROPOS A REMPLIR</p>
  <Footer />
</Layout>

<style is:global>  
 
body{
  background: #f0f0f1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
</style>
