---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Styx" description="Styx">
  <NavBar />
  <div class="main">
    <section class="hero">
      <div class="hero-title">
        <div class="left-border"></div>
        <h1>
          Augmente tes chances de<br />prendre la bonne <span class="decision"
            >décision.</span
          >
        </h1>
      </div>
    </section>
  </div>
</Layout>

<style>
  .hero-title {
    display: flex;
    gap: 3rem;
  }

  .left-border {
    position: relative;
    top: 2rem;
    top: 2rem;
    width: 0.3rem;
    height: 17rem;
    flex-shrink: 0;
    background: #00e;
  }

  .hero {
    width: 75%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
        146deg,
        rgba(233, 233, 233, 0.2) 23.91%,
        rgba(0, 0, 0, 0) 80.07%
      ),
      #f8f8f9;
  }

  .hero h1 {
    font-weight: 500;
    font-size: 8.4rem;
    line-height: 9rem;
  }

  .decision {
    font-size: inherit;
    color: #00e;
    font-weight: 300;
  }
</style>
