---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import PainPointSection from "../components/PainPointSection.astro";
---

<Layout title="Styx" description="Styx">
  <NavBar />
  <div class="main">
    <HeroSection />
    <TestimonialSection />
    <PainPointSection />
  </div>
</Layout>
