---
import Footer from "../components/Footer.astro";
import LeftContent from "../components/left-section/LeftContent.astro";
import RightContent from "../components/right-section/RightContent.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/nav/NavBar.astro";
---

<Layout title="Styx" description="Styx">
  <NavBar />
  <div class="main">
    <div class="content">
      <LeftContent />
      <RightContent />
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    gap: 4.5rem;
    margin-left: auto;
    margin-right: auto;
  }
</style>
