---
import { withBase } from "../utils/config-utils.ts";
function removeTrailingSlash(str: string): string {
  return str.endsWith("/") ? str.slice(0, -1) : str;
}
const pathname = removeTrailingSlash(Astro.url.pathname)
  .split("/")
  .slice(-1)[0];
const legalMentionsPageUrl = withBase("/mentions-legales");
const contactUsPageUrl = withBase("/contact");

---
<footer>
  <section class="footer">
    <span class="foolter-logo">© styx 2024</span>
    <span class="footer-pages">
      <a href={legalMentionsPageUrl} class={pathname === "mentions-legales" ? "footer-text active" : "footer-text"}>Mentions légales</a>
      <a href={contactUsPageUrl} class={pathname === "contact" ? "footer-text active" : "footer-text"}>Contact</a>
      <span class="footer-landing-x">Réalisé par LANDING-X</span>
    </span>
  </section>
</footer>


<style>

  .footer-landing-x{
    color: #9B0C3E;
  }

  a.footer-text {
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.036rem;
    font-size: 1.2rem;
  }

  a.active {
    color: #00e;
  }

  a.active:hover {
    color: #00e;
  }


  footer {
    background: #eee;
    border-top: 2px solid #07072D;
    width: 100%;
  }

   .footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0 30rem;
    height: 5rem;
    align-items: center;
  }

  .footer-pages {
    display: flex;
    gap: 6.5rem;
  }

  
</style>
