---
import { withBase } from "../utils/config-utils.ts";
const legalMentionsPageUrl = withBase("/mentions-legales");
---
<footer>
  <section class="footer">
    <span class="foolter-logo">© styx 2024</span>
    <span class="footer-pages">
      <span class="footer-text">Tous droits réservés</span>
      <a class="footer-text" href={legalMentionsPageUrl}>Mentions Légales</a>
      <span class="footer-text">Site réalisé par Landing-X</span>
    </span>
  </section>
</footer>


<style>
   .footer {
    margin-left: 15%;
    gap: 84rem;
    display: flex;
  }

  footer {
    height: 5rem;
    background: #eee;
    border-top: 2px solid #07072D;
    display: flex;
    align-items: center;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .footer-text {
    text-align: center;
    letter-spacing: 0.036rem;
    color: white;
    font-size: 1.2rem;
  }
</style>
