---
import { withBase } from "../utils/config-utils";
const blueArrowImageUrl = withBase("/images/blue-arrow.svg");
const rightChevronImageUrl = withBase("/images/right-chevron.svg");
import SubscribeButton from "../components/SubscribeButton.jsx"; 
---

<section class="hero">
  <div class="hero-title-box">
    <div class="hero-left-border"></div>
    <p class="hero-title"
      >Augmente tes chances de<br />prendre la bonne <span class="decision"
        >décision.</span
      ></p>
  </div>
  <SubscribeButton client:load rightChevronImageUrl={rightChevronImageUrl} blueArrowImageUrl={blueArrowImageUrl}/>
</section>

<style is:global>
  .hero {
    margin-left: 15%;
    margin-top: 5rem;
  }

.hero-title {
  border-left: solid 0.35rem #00e;
  padding: 0 0.75rem 0.75rem 5.25rem;
  font-weight: 500;
    font-size: 8.4rem;
    line-height: 9rem;
    letter-spacing: -0.35rem;
  }

</style>
