---
import { Image } from "astro:assets";
import { withBase } from "../utils/config-utils";
function removeTrailingSlash(str: string): string {
  return str.endsWith("/") ? str.slice(0, -1) : str;
}
const pathname = removeTrailingSlash(Astro.url.pathname)
  .split("/")
  .slice(-1)[0];
const about = withBase("/a-propos");
const articles = withBase("/articles");
const newsletter = withBase("/newsletter");
const logoImageUrl = withBase("/images/logo.svg");
console.log(pathname);
---

<header>
  <section class="header">
    <div class="logo-container">
      <a href="/"><Image
        class="Styx Logo"
        src={logoImageUrl}
        alt="Arrow"
        width={60}
        height={40}
      /></a>
    </div>
    <nav>
      <a href={about} class={pathname === "a-propos" ? "active" : ""}>A propos</span>
      <a href={articles} class={pathname === "articles" ? "active" : ""}>Articles</span>
      <a href={newsletter} class={pathname === "newsletter" ? "active" : ""}>Newsletter</span>
    </nav>
  </section>
</header>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.3rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 7rem;
    font-size: 1.2rem;
  }

  nav a {
    min-width: 5rem;
  }

  nav a.active {
    color: #00e;
  }

  nav:hover a.active {
    color: #00e;
  }


  p {
    font-size: 1.2rem;
  }

  .blue-arrow-img {
    width: 1rem;
    height: 1rem;
  }

  .header {
    margin-left: 15%;
    gap: 84rem;
    display: flex;
    overflow: hidden;
  }

  header {
    height: 5rem;
    background: #fcfcfc;
    border-bottom: 2px solid #d8d8d8e8;
    display: flex;
    align-items: center;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #07072d;
    font-weight: 400;
  }

  nav a:hover {
    color: black;
  }
</style>
