---
import { Image } from "astro:assets";
import { withBase } from "../utils/config-utils";
const blueArrowImageUrl = withBase("/images/blue-arrow.svg");
const logoImageUrl = withBase("/images/logo.svg");
---

<header>
  <section class="header">
    <div class="logo-container">
      <a href="#"><Image
        class="Styx Logo"
        src={logoImageUrl}
        alt="Arrow"
        width={60}
        height={40}
      /></a>
    </div>
    <nav>
      <a href="#"
        ><Image
          class="blue-arrow-img"
          src={blueArrowImageUrl}
          alt="Arrow"
          width={20}
          height={20}
        />
         LA LISTE PRIVEE</a
      >
    </nav>
  </section>
</header>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.3rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .blue-arrow-img {
    width: 1rem;
    height: 1rem;
  }

  .header {
    margin-left: 15%;
    gap: 84rem;
    display: flex;
  }

  header {
    height: 5rem;
    background: #fcfcfc;
    border-bottom: 2px solid #d8d8d8e8;
    display: flex;
    align-items: center;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #07072d;
    font-weight: 400;
  }

  nav a:hover {
    color: black;
  }
</style>
