---
import StarRating from "./StarRating.astro";
---

<div class="star-ratings">
  <StarRating />
  <StarRating />
  <StarRating />
  <StarRating />
  <StarRating />
</div>

<style>
  div {
    display: flex;
    gap: 1px;
  }
</style>
